.primary-nav {
  background: rgba(255,255,255,.8);
  border-color: rgba(255,255,255,.9);

  .navbar-header .navbar-brand {
    background-image: url('../img/logo-solcraft-medical-50px.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    padding: 0;
    margin: 2rem 2rem 0 0;
    width: 14rem;

    &:hover { color: transparent; }
  }
}
