/*colors*/
@lime:#e8ff00;
@limeDark:#b1c115;
@teal: #006b6a;
@tealDark: #013b3c;
@red: #d4177c;
@redDark: #a61261;
@green: #17d495;
@greenDark: #13ad7a;

@primary: @lime;
@primaryDark: @limeDark;
@btnTextLight: #fff;
@btnTextDark: #333;
@secondary: @green;
@secondaryDark: @greenDark;
@primaryBg: @teal;

/*styles*/
@border-thickness: 2px;
@border-radius: 3px;

/*fonts*/
@title-font-family: 'Bitter', serif;
@body-font-family: 'Source Sans Pro', sans-serif;
@font-sm: 1.6rem;
@font-xs: 1.4rem;

/*queries*/
@tablet:~'screen and (min-width: 768px)';
